<h3 class = "text-center">ログイン</h3>
<div class = "row">
  <div class = "offset-sm-2 col-sm-8">
    <% if @error_message %>
      <div class = "alert alert-warning">
        <%= @error_message %>
      </div>
    <%end%>
    <%= form_with(url: login_path, scope: :session, local: true) do |f| %>
      <div class = "form-group">
        <%= f.label :email, "メールアドレス" %>
        <%= f.text_field :email, class: "form-control" %>
      </div>
      <div class = "form-group">
        <%= f.label :password, "パスワード" %>
        <%= f.password_field :password, class: "form-control" %>
      </div>
      <%= f.submit "ログイン", class: "mt-4 btn btn-primary btn-block"%>
    <% end %>
    <p class = "text-center">未登録の方は<%= link_to("こちら", signup_path)%></p>
  </div>
</div>