<%= @tweet.content %>

<% if @tweet.user == current_user %>
  <%= link_to("編集", edit_tweet_path(@tweet))%>
  <%= link_to("削除", @tweet, method: :delete, data: { confirm: "本当に削除してよろしいですか？"})%>
<% else %>
  <%= render("favorites/favorite_button", tweet: @tweet )%>
<% end %>

<% if @trainings.any? %>
  <table class = "table table-borderd">
    <thead>
      <tr>
        <th>メニュー</th>
        <th>重量</th>
        <th>回数</th>
        <th>セット</th>
      </tr>
    </thead>
    <% @trainings.each do |training| %>
      <tbody>
        <tr>
          <td><%= training.menu %></td>
          <td><%= training.weight %></td>
          <td><%= training.count %></td>
          <td><%= training.set %></td>
        </tr>
      </tbody>
    <% end %>
  </table>
<% end %>
  <div>
    <%= image_tag @tweet.image.url if @tweet.image? %>
  </div>

    <% if @comment.errors.any? %>
      <div id = "error-expranation" class = "alert alert-warning">
        <ul class = "mb-0">
          <% @comment.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    
<%= form_with(model: @comment, local: true) do |f| %>
<div class = "form-group">
  <%= hidden_field_tag :tweet_id, @tweet.id %>
  <%= f.label :content, "コメント" %>
  <%= f.text_field :content, class: "form-control" %>
  <%= f.submit "コメント" %>
</div>
<% end %>
<div>
  <% @comments.each do |comment| %>
    <div>
      <%= comment.content %>
      <% if comment.user_id == current_user.id %>
      <%= link_to("削除",comment_path(comment), method: :delete, data: { confirm: "本当に削除してよろしいですか？"})%>
      <% end %>
    </div>
  <% end %>
</div>