<h3 class = "text-center">アカウント編集ページ</h3>
<div class = "row">
  <div class = "offset-sm-2 col-sm-8">
    <%= form_with(model: @user, local: true ) do |f| %>

      <% if @user.errors.any? %>
        <div id = "error-expranation" class = "alert alert-warning">
          <ul class = "mb-0">
            <% @user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class = "form-group">
        <%= f.label :name, "名前" %>
        <%= f.text_field :name, class: "form-control", required: true%>
      </div>
      <div class = "form-group　mb-0">
        <%= f.label :email, "メールアドレス" %>
        <%= f.email_field :email, class: "form-control" ,required: true%>
      </div>
      <div class = "text-right">
        パスワードの変更は「パスワード変更」画面から行ってください
      </div>

      <%= f.submit "編集", class: "btn btn-block btn-primary mt-4"%>
    <% end %>
  </div>
</div>
