<h3><%= @user.name %>のマイページ</h3>
<% if current_user == @user %>
  <%= link_to("編集", edit_user_path)%>
  <%= link_to("退会", signout_path, method: :delete, data: { confirm: "本当にアカウントを削除しますか？"}) %>
  <%= link_to("プロフィール編集", edit_profile_user_path)%>
<% else %>
  <% if current_user.following?(@user)%>
    <%= form_with(model: current_user.relationships.find_by(follow_id: @user.id), local: true, method: :delete ) do |f| %>
    <%= hidden_field_tag :follow_id, @user.id %>
    <%= f.submit "フォロー中", class: "btn btn-secondary mb-4" %>
    <% end %>
  <% else %>
    <%= form_with(model: current_user.relationships.build, local: true) do |f| %>
    <%= hidden_field_tag :follow_id, @user.id %>
    <%= f.submit "フォローする", class: "btn btn-primary mb-4" %>
    <% end %>
  <% end %>
<% end %>

<div>
  <%= image_tag @user.image.url if @user.image? %>
</div>


<ul class = "nav nav-tabs nav-justified mb-3">
  <li class = "nav-item">
    <a href = "<%= user_path(@user)%>" class = "nav-link <%= "active" if current_page?(user_path(@user))%>">
      ツイート一覧
    </a>
  </li>
  <li class = "nav-item">
    <a href = "<%= followings_user_path(@user)%>" class = "nav-link <%= "active" if current_page?(followings_user_path(@user))%>">
      フォロー中<span class = "badge badge-secondary ml-2"><%= @count_followings %></span>
    </a>
  </li>
  <li class = "nav-item">
    <a href = "<%= followers_user_path(@user)%>" class = "nav-link <%= "active" if current_page?(followers_user_path(@user))%>">
      フォロワー<span class = "badge badge-secondary ml-2"><%= @count_followers %></span>
    </a>
  </li>
</ul>



<% @tweets.each do |tweet| %>
  <div>
    <%= link_to(tweet.content, tweet_path(tweet))%>
  </div>
<% end %>