<h3 class = "offset-sm-2">通知一覧</h3>

  <% @alerts.each do |alert| %>
    <% if alert.relationship != nil %>
    <div class = "col-sm-6 border rounded shadow-sm p-2 mb-3">
      <%= image_tag alert.relationship.user.image.index_user.url, class: "rounded-circle" if alert.relationship.user.image? %>
      <%= link_to(alert.relationship.user.name, user_path(alert.relationship.user)) %>があなたをフォローしました
    </div>
    <% elsif alert.favorite != nil %>
    <div class = "col-sm-6 border rounded shadow-sm p-2 mb-3">
      <%= image_tag alert.favorite.user.image.index_user.url, class: "rounded-circle" if alert.favorite.user.image? %>
      <%= link_to(alert.favorite.user.name, user_path(alert.favorite.user)) %>があなたの<%= link_to("投稿", tweet_path(alert.favorite.tweet))%>にいいねしました
    </div>
    <% elsif alert.comment != nil %>
    <div class = "col-sm-6 border rounded shadow-sm p-2 mb-3">
      <%= image_tag alert.comment.user.image.index_user.url, class: "rounded-circle" if alert.comment.user.image? %>
      <%= link_to(alert.comment.user.name, user_path(alert.comment.user)) %>があなたの<%= link_to("投稿", tweet_path(alert.comment.tweet))%>にコメントしました
    </div>
    <% end %>
  <% end %>
  
<%= paginate @alerts %>