<div class = "mb-4">
  <nav class = "navbar navbar-expand-sm navbar-light bg-light">
    <a class = "navbar-brand" href = "/">Share Training</a>
    <button type = "button" class = "navbar-toggler" data-toggle = "collapse" data-target = "#share-training-main-menu">
      <span class = "navbar-toggler-icon"></span>
    </button>
    <div class = "collapse navbar-collapse justify-content-end" id = "share-training-main-menu">
      <ul class = "navbar-nav">
        <% if logged_in? %>
          <li class = "nav-item"><%= link_to("新規投稿", new_tweet_path, class: "nav-link")%></li>
          <li class = "nav-item dropdown">
            <a href = "#" class = "nav-link dropdown-toggle" data-toggle = "dropdown"><%= @current_user.name %></a>
              <ul class = "dropdown-menu dropdown-menu-right">
                <li class = "dropdown-item"><%= link_to("アカウント編集",edit_user_path(current_user))%></li>
                <li class = "dropdown-item"><%= link_to("ユーザー一覧", users_path) %></li>
                <div class = "dropdown-divider"></div>
                <li class = "dropdown-item"><%= link_to("ログアウト", logout_path, method: :delete, data: { confirm: "本当にログアウトしますか？" }) %></li>
                <li class = "dropdown-item"><%= link_to("退会", signout_path, method: :delete, data: { confirm: "本当にアカウントを削除しますか？"}) %></li>
              </ul>
          </li>
        <% else %>
          <li class = "nav-item"><%= link_to("新規登録", signup_path , class: "nav-link") %></li>
          <li class = "nav-item"><%= link_to("ログイン", login_path, class: "nav-link") %></li>
        <% end %>
      </ul>
    </div>
  </nav>
</div>